.os-paint {
    background-color: #b480dd;
}

.mr-4b-c-paint {
    background-color: #c55b00;
}

.mr-c-c-paint {
    background-color: #ff5a5a;
}

.mr-c-f-paint {
    background-color: #ffb800;
}

.mr-f-f-paint {
    background-color: #f6f780;
}

.l-push-paint {
    background-color: #3bd385;
}

.l-c-c-paint {
    background-color: #1afefe;
}

.l-c-f-paint {
    background-color: #3791d8;
}

.l-f-paint {
    background-color: #9b9b9b;
}

.f-paint {
    color: transparent;
    background-color: transparent;
}

.action-answer {
    width: 5.5em;
    border-width: 1px;
    height: 2em;
    margin-bottom: 0.75em;
    border-radius: 5px;
}

#hand {
    cursor: pointer;
    margin: 1em 0 0 0;
    font-size: xx-large;
    margin-left: 3em;
    border-radius: 3px;
    width: max-content;
    padding: 0.25em 0.5em;
    color: black !important;
    opacity: 0.8;
}

.wrong-answer {
    box-shadow: 0px 0px 0px 3px red;
}

.correct-answer {
    box-shadow: 0px 0px 0px 3px #74C25F;

}

.matrix:has(.selected) *:not(.selected) {
    opacity: 0.5;
}

.selected {
    color: black;
    font-weight: bolder;
    box-shadow: inset 0px 0px 0px 3px black;
    font-size: 1.1em;
}

#question-container {
    margin-top: 2em;
    width: 250px;
}

.actions-container {
    display: flex;
    gap: 10px;
    margin-top: 2em;
}

.actions-group {
    width: 33%;
}

#all-table-actions {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
}

#show-table {
    display: none;
}

@media (max-width: 768px) {
    #question-container {
        width: auto;
        display: flow;
        justify-items: center;
        align-items: center;
    }

    #hand {
        margin: 1em auto;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .action-answer {
        width: 100%;
        border-width: 1px;
        height: 2em;
        margin-bottom: 0.75em;
        border-radius: 5px;
        font-size: large;
        color: black;
    }

    .actions-group {
        margin: 0 0.5em;
    }

    #clear-all,#print-all {
        display: none;
    }

    #mobile-actions-footer {
        width: 95%;
    }

    .selected {
        box-shadow: inset 0px 0px 0px 2px black;
    }

    #show-table {
        display: block;
        width: 40%;
        height: 3em;
        margin: auto;
        margin-top: 3em;
    }

}