.os-paint {
    background-color: #b480dd;
}

.mr-4b-c-paint {
    background-color: #c55b00;
}

.mr-c-c-paint {
    background-color: #ff5a5a;
}

.mr-c-f-paint {
    background-color: #ffb800;
}

.mr-f-f-paint {
    background-color: #f6f780;
}

.l-push-paint {
    background-color: #3bd385;
}

.l-c-c-paint {
    background-color: #1afefe;
}

.c-x2-paint,
.l-c-f-paint {
    background-color: #3791d8;
}

.l-f-paint {
    background-color: #9b9b9b;
}

.f-paint {
    color: transparent;
    background-color: transparent;
}

.all-in-paint {
    background-color: #b480dd;
}

.x-paint,
.l-paint,
.c-paint {
    background-color: #3bd385;
}

._3bet-c-paint,
.iso-c-paint {
    background-color: #ffb800;
}

.iso-f-paint {
    background-color: #f6f780;
}

.stack-answer,
.action-answer {
    width: 5.5em;
    border-width: 1px;
    height: 2em;
    margin-bottom: 0.75em;
    border-radius: 5px;
}

#hand {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0.5em 0 0 0;
    font-size: xx-large;
    margin-left: 3em;
    border-radius: 3px;
    width: 1.5em;
    padding: 0.15em 0.25em;
    color: black !important;
    opacity: 0.8;
}


.matrix:has(.selected) *:not(.selected) {
    opacity: 0.5;
}

.selected {
    color: black;
    font-weight: bolder;
    box-shadow: inset 0px 0px 0px 3px black;
    font-size: 1.1em;
}

#question-container {
    margin-top: 1em;
    width: 250px;
}

.actions-answer-container {
    display: flex;
    gap: 10px;
    margin-top: 2em;
}

.actions-group {
    width: 33%;
}

#all-table-actions {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
}

#show-table {
    display: none;
}

.non-selected-answer {
    opacity: 0.6;
}

.wrong-answer-frame {
    border: none;
    box-shadow: 0px 0px 0px 3px red;
}

.correct-answer-frame {
    border: none;
    box-shadow: 0px 0px 0px 4px #74C25F;
}

.correct-answer {
    font-weight: bold;
    box-shadow: inset 0px 0px 0px 2px black;
    opacity: 1;
}

.wrong-answer {
    border: none;
    font-weight: normal;
    box-shadow: inset 0px 0px 0px 2px red;
}


@media (max-width: 768px) {

    #question-container {
        width: auto;
        display: flow;
        justify-items: center;
        align-items: center;
    }

    #hand {
        margin: 0.5em auto;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .stack-answer,
    .action-answer {
        width: 100%;
        border-width: 1px;
        height: 2em;
        margin-bottom: 0.75em;
        border-radius: 5px;
        font-size: large;
        color: black;
    }

    .actions-group {
        margin: 0 0.5em;
    }

    #clear-all,#print-all {
        display: none;
    }

    #mobile-actions-footer {
        width: 95%;
    }

    .selected {
        box-shadow: inset 0px 0px 0px 2px black;
    }

    #show-table {
        display: block;
        width: 40%;
        height: 3em;
        margin: auto;
        margin-top: 2em;
    }

    #all-table-actions {
        display: none;
    }

}