body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    height: 95vh;
}

.container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: auto 100px;
    justify-content: center;
    align-items: center;
}


.title {
    text-align: center;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(13, 0fr);
    margin: auto;
    margin-top: 20px;
    width: 700px;
}

.card-cell {
    font-size: larger;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 768px) {

    body {
        font-size: 1em;
    }

    .title {
        display: none;
    }

    .matrix {
        font-family: "Courier New", Courier, monospace;
        display: none;
    }

    .container {
        display: flex;   
    }

    .card-cell {
        width: calc(96vw / 13);
        height: calc(96vw / 13);
        border: none;
    }
}