.paint {
    background-color: var(--background-color);
    font-weight: bold;
}

#hand {
    cursor: pointer;
    user-select: none;
    margin-bottom: 0em;
}

#config-container {
    justify-items: center;
}


#lateral-panel {
    margin-left: 2em;
    height: 100%;
    margin-top: 20px;
    padding-top: 1em;
    width: fit-content;
    align-content: center;
}


.stack-answers-container {
    padding: 1.5em 1em 0.5em 1em;
}

.stack-answers-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.stack-answer {
    width: 4em;
    height: 2em;
    margin: auto;
    font-size: large;
}


.correct-answer {
    font-weight: bold;
    box-shadow: inset 0px 0px 0px 2px black;
    opacity: 1;
}

.selector {
    padding: 0.25em;
}

#clear-all {
    margin-right: 2em;
}


@media (max-width: 768px) {

    body {
        font-size: 1em;
        overflow: hidden;
    }

    .title {
        display: none;
    }

    .container {
        display: block;   
    }

    .matrix {
        font-family: revert-layer;
        display: grid;
    }

    .card-cell {
        -webkit-text-size-adjust: none;
        font-weight: normal;
        font-size: medium;
    }

    #all-table-actions {
        margin-top: 1em;
        display: flex;
    }

    
    #lateral-panel {
        margin: auto;
        width: 100%;
        justify-items: center;
        margin-top: 0em;
    }


    

}